/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------body------------ */
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif
}
/* -----------------Header------------------ */

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 1000000;
}

.nav {
  padding: 0.8rem 1.2rem;
}
.nav-links {
  text-decoration: none;
  color: #888888;
  font-size: 13px;
}

.nav-links:hover {
  color: #17a78b
}

.fas{
  font-size: 11px;
  padding-right: 8px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----------mobile menu------------- */

.click-menu {
  position: fixed;
  z-index: 9999;
  display: none;
}

.click-menu:focus {
  outline: none;
}

.mobile-icon {
  font-size: 1.5rem;
  opacity: 0.6;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mobile-icon2 {
  font-size: 1.5rem;
  opacity: 0.6;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: rotate(90deg);
}



.menu {
  height: 100vh;
  width: 95vw;
  background: #333;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: fixed ;
  z-index: 3333;
  padding-top: 4rem;
  transition: all 0.9s;
}

.menu2 {
  display: flex;
}

.mobile-icons {
  font-size: 1.8rem;
}

.mobile-links {
  font-size: 2rem;
  padding: 2rem 0rem;
}

.mobile-nav {
  margin: 1rem;
}

/* -----logo and pr button----- */

.brand {
  justify-content: space-around;
  padding-top: 3rem;
}

button {
  box-shadow: none;
  outline: none;
  background: transparent;
  padding: 0.6rem 1.3rem;
  font-size: 1rem;
  border: none;
}

.pr {
  box-shadow: none;
  outline: none;
  background: transparent;
  color: #888888;
  border: none;
  outline: 1px solid #bdbaba;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

.pr:hover {
  background: #5a88ca;
  outline: 1px solid #5a88ca;
  color: white;
}

/* -----search-----*/

.search {
  margin-top: 3rem;
}

.search-input {
  width: 30%;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  border: 1px solid #bdbaba;
}

.search-button {
  border: 1px solid #bdbaba;
  background: #5a88ca;
  color: white;
  margin-left: 0.18rem;
  border-radius: 4px;
}

.search-button:hover {
  background: #333;
  cursor: pointer;
}

/* ----------main carousel----------*/

.main-carousel {
  text-align: center;
  margin: 2rem auto;
  width: 70%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  margin-right: 3rem !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   margin-left: 3rem !important;
 }

 /* ------------------services------------------ */

 .services{
   justify-content: space-around;
   width: 70%;
   margin: 2rem auto;
 }

 .services-buttons {
  width: 15rem;
  background: black;
  height: 8rem;
  /* padding: 1rem; */
  margin: 1rem;
  flex-direction: column;
 }

 .s-icons {
   font-size: 2rem;
   color: white;
 }

 .s-head {
   font-size: 1.5rem;
   color: white;
   padding:0.8rem;
 }

 .free-pr {
  background: #5A88CA;
 }

 .secure {
  background: #EB7E72;
 }

 .new-products {
  background: #5FBFBD;
 }

 .services-buttons:hover {
   background: black;
 }
 /* --------------------latest beats------------------ */
 .latest {
   flex-direction: column;
 }
.latest-beats {
  justify-content: space-around;
  width: 62%;
  margin: 3rem auto;
}

.latest-head {
  font-size: 3rem;
  text-align: center;
}

 .beats1{
   background: url('../media/b1.jpg');
   width: 10rem;
   height: 12rem;
   background-position: center;
   background-size: cover;
   margin: 1rem;
 }
 .beats2{
  background: url('../media/b2.jpg');
  width: 10rem;
  height: 12rem;
  background-position: center;
  background-size: cover;
  margin: 1rem;
}
.beats3{
  background: url('../media/b3.jpg');
  width: 10rem;
  height: 12rem;
  background-position: center;
  background-size: cover;
  margin: 1rem;
}

.beats4{
  background: url('../media/b4.jpg');
  width: 10rem;
  height: 12rem;
  background-position: center;
  background-size: cover;
  margin: 1rem;
}


.beats {
  flex-direction: column;
  justify-content: flex-start;
}

.beats-icon {
  font-size: 1rem;
  padding-top: 10px;
  color: #5a88ca;
}




/* -------------footer----------------- */
.f-links {
  flex-direction: column;
  width: 20%;
  margin: 1rem;
}

.social-icons {
  font-size: 2.1rem;
  color:#5A88CA;
  margin: 10px;
}

.social-icons:hover {
  /* background: #5FBFBD; */
  color: black;
}

.silverchords-head {
  color: #5A88CA;
  font-size: 2rem;
  font-style: 900;
  padding-top: 1rem;
  padding-bottom: 1.4rem;
  letter-spacing: 1.7px;
}

.silverchords-p {
  color: white;
  opacity: 0.6;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.2;
  /* font-size: 14px; */
  width: 180px;
}

.usernavigation-head{
  font-size: 2rem;
  font-style: 900;
  padding-top: 1rem;
  padding-bottom: 2.6rem;
  color: white;
}

.usernavigation-links {
  text-decoration: none;
  color:white;
  opacity: 0.6;
}

.usernavigation-links:hover{
  color: #17a78b;
}

.newsletter-head {
  font-size: 2rem;
  font-style: 900;
  padding-top: 1rem;
  padding-bottom: 1.4rem;
  color: white;
  letter-spacing: 1.7px;
}

.newsletter-para {
  color:white;
  opacity: 0.6;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.2;
  width: 180px;
}

.hr {
  height: 5px;
}

.footer {
  background: #333;
  justify-content: center;
  padding-bottom: 6rem;
  align-items: flex-start;
}

.news-div {
  flex-direction: column;
  align-items: center
}

.subscribe {
  background: #5A88CA;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

#emailinput {
  padding: 0.3rem;
  width: 80%;
}


@media all and (max-width: 800px) {
  body {
    font-size: 10px;
  }
  .flex {
    flex-direction: column;
    align-items: center;
  }
  .top {
    display: none;
  }
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    margin-right: 0rem !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
     margin-left: 0rem !important;
   }

   .footer {
     padding-bottom: 2rem;
   }
   .social-links {
     flex-direction: row;
   }

   .newsletter-para {
     text-align: center;
   }

   .usernavigation-head,.newsletter-head,.silverchords-head {
     padding: 1rem;
     text-align: center;
   }
   hr {
    display: none;
   }
   .search-button {
     margin-top: 0.5rem;
     padding: 0.3rem;
   }
   .logo {
     width: 100%;
     text-align: center;
     margin-bottom: 0.7rem;
   }
   .pr {
    padding: 0.3rem;
    border: none;
    outline: none;
   }
   .logo-img {
     border: 1px solid rgb(129, 126, 126);
   }
   .click-menu {
     display: block;
   }
}
